################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InterView.slnx/FileContentIndex/09106b8e-3d35-4bf3-8148-623aa4082179.vsidx
