USE [EDU]
GO
/****** Object:  Schema [General]    Script Date: 5/24/2026 6:34:57 PM ******/
CREATE SCHEMA [General]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/24/2026 6:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [General].[Dictionaries]    Script Date: 5/24/2026 6:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [General].[Dictionaries](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ParentId] [uniqueidentifier] NULL,
	[Status] [int] NOT NULL,
	[CreateUserId] [uniqueidentifier] NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[EditId] [uniqueidentifier] NULL,
	[EditDate] [datetime2](7) NULL,
	[DeleteId] [uniqueidentifier] NULL,
	[DeleteDate] [datetime2](7) NULL,
	[TenantId] [bigint] NOT NULL,
	[Code] [nvarchar](500) NULL,
 CONSTRAINT [PK_Dictionaries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [General].[Exam]    Script Date: 5/24/2026 6:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [General].[Exam](
	[Id] [uniqueidentifier] NOT NULL,
	[LessonId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[RegistrationDate] [datetime2](7) NOT NULL,
	[Price] [int] NULL,
	[Status] [int] NOT NULL,
	[CreateUserId] [uniqueidentifier] NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[EditId] [uniqueidentifier] NULL,
	[EditDate] [datetime2](7) NULL,
	[DeleteId] [uniqueidentifier] NULL,
	[DeleteDate] [datetime2](7) NULL,
	[TenantId] [bigint] NOT NULL,
 CONSTRAINT [PK_Exam] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [General].[Lesson]    Script Date: 5/24/2026 6:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [General].[Lesson](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClassId] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CreateUserId] [uniqueidentifier] NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[EditId] [uniqueidentifier] NULL,
	[EditDate] [datetime2](7) NULL,
	[DeleteId] [uniqueidentifier] NULL,
	[DeleteDate] [datetime2](7) NULL,
	[TenantId] [bigint] NOT NULL,
 CONSTRAINT [PK_Lesson] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [General].[Users]    Script Date: 5/24/2026 6:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [General].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[UserTypeId] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CreateUserId] [uniqueidentifier] NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[EditId] [uniqueidentifier] NULL,
	[EditDate] [datetime2](7) NULL,
	[DeleteId] [uniqueidentifier] NULL,
	[DeleteDate] [datetime2](7) NULL,
	[TenantId] [bigint] NOT NULL,
	[UserClassId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260523132357_newnitialdb', N'9.0.11')
GO
INSERT [General].[Dictionaries] ([Id], [Title], [Description], [ParentId], [Status], [CreateUserId], [CreateDate], [EditId], [EditDate], [DeleteId], [DeleteDate], [TenantId], [Code]) VALUES (N'b2a168f6-bb6b-4876-b378-00f4d441a507', N'UserType', N'UserType', NULL, 1, NULL, CAST(N'2026-05-06T10:20:20.0000000' AS DateTime2), NULL, NULL, NULL, NULL, 1, N'UserType')
INSERT [General].[Dictionaries] ([Id], [Title], [Description], [ParentId], [Status], [CreateUserId], [CreateDate], [EditId], [EditDate], [DeleteId], [DeleteDate], [TenantId], [Code]) VALUES (N'd9c4cd13-b937-45f6-1af6-08deb8eb99be', N'10c', NULL, N'2a09ae88-31fc-4102-b6cd-1a8a740d33a5', 1, NULL, CAST(N'2026-05-23T16:51:55.1363295' AS DateTime2), NULL, NULL, NULL, NULL, 0, NULL)
INSERT [General].[Dictionaries] ([Id], [Title], [Description], [ParentId], [Status], [CreateUserId], [CreateDate], [EditId], [EditDate], [DeleteId], [DeleteDate], [TenantId], [Code]) VALUES (N'bb7f3f5d-9bab-4ab9-1af7-08deb8eb99be', N'10c', NULL, N'2a09ae88-31fc-4102-b6cd-1a8a740d33a5', 1, NULL, CAST(N'2026-05-23T16:51:55.1366575' AS DateTime2), NULL, NULL, NULL, NULL, 0, NULL)
GO
INSERT [General].[Exam] ([Id], [LessonId], [UserId], [RegistrationDate], [Price], [Status], [CreateUserId], [CreateDate], [EditId], [EditDate], [DeleteId], [DeleteDate], [TenantId]) VALUES (N'ffbc5a79-7b4f-415e-389d-08deb99f5f07', N'61941031-907d-4f6d-8d34-08deb96f0491', N'de1047be-1168-4406-2562-08deb971e1bc', CAST(N'2026-05-24T00:00:00.0000000' AS DateTime2), 1, 1, NULL, CAST(N'2026-05-24T14:18:47.7557452' AS DateTime2), NULL, NULL, NULL, NULL, 0)
INSERT [General].[Exam] ([Id], [LessonId], [UserId], [RegistrationDate], [Price], [Status], [CreateUserId], [CreateDate], [EditId], [EditDate], [DeleteId], [DeleteDate], [TenantId]) VALUES (N'103c5fce-ff99-43ea-f3f7-08deb9a058a2', N'bb98c2e9-ce99-4423-dc14-08deb9a0406a', N'4a28148c-2c79-49f8-5a93-08deb9738857', CAST(N'2026-05-24T00:00:00.0000000' AS DateTime2), 90, 1, NULL, CAST(N'2026-05-24T14:25:46.6064296' AS DateTime2), NULL, NULL, NULL, NULL, 0)
GO
INSERT [General].[Lesson] ([Id], [Name], [UserId], [ClassId], [Status], [CreateUserId], [CreateDate], [EditId], [EditDate], [DeleteId], [DeleteDate], [TenantId]) VALUES (N'61941031-907d-4f6d-8d34-08deb96f0491', N'riyaziyyat', N'3e8c7238-4ec4-448e-9edb-031590c98a35', N'd9c4cd13-b937-45f6-1af6-08deb8eb99be', 1, NULL, CAST(N'2026-05-24T08:32:39.1824242' AS DateTime2), NULL, NULL, NULL, NULL, 0)
INSERT [General].[Lesson] ([Id], [Name], [UserId], [ClassId], [Status], [CreateUserId], [CreateDate], [EditId], [EditDate], [DeleteId], [DeleteDate], [TenantId]) VALUES (N'bb98c2e9-ce99-4423-dc14-08deb9a0406a', N'fizika', N'3e8c7238-4ec4-448e-9edb-031590c98a35', N'fbb00394-a86a-4127-b8a2-7d10380e95e2', 1, NULL, CAST(N'2026-05-24T14:25:05.9149680' AS DateTime2), NULL, NULL, NULL, NULL, 0)
GO
INSERT [General].[Users] ([Id], [Name], [Surname], [UserTypeId], [Status], [CreateUserId], [CreateDate], [EditId], [EditDate], [DeleteId], [DeleteDate], [TenantId], [UserClassId]) VALUES (N'3e8c7238-4ec4-448e-9edb-031590c98a35', N'teacher 1', N'teacher 1', N'7359ac21-e51f-4009-941f-c54c4d776078', 1, NULL, CAST(N'2026-05-23T16:51:55.1363295' AS DateTime2), NULL, NULL, NULL, NULL, 1, NULL)
INSERT [General].[Users] ([Id], [Name], [Surname], [UserTypeId], [Status], [CreateUserId], [CreateDate], [EditId], [EditDate], [DeleteId], [DeleteDate], [TenantId], [UserClassId]) VALUES (N'de1047be-1168-4406-2562-08deb971e1bc', N'Emin', N'Elekberov', N'2d8b2ec4-1c1a-4b6d-b5ba-20f3cebc8f99', 1, NULL, CAST(N'2026-05-24T08:53:10.2308420' AS DateTime2), NULL, NULL, NULL, NULL, 0, NULL)
INSERT [General].[Users] ([Id], [Name], [Surname], [UserTypeId], [Status], [CreateUserId], [CreateDate], [EditId], [EditDate], [DeleteId], [DeleteDate], [TenantId], [UserClassId]) VALUES (N'4a28148c-2c79-49f8-5a93-08deb9738857', N'Emin', N'Elekberov', N'2d8b2ec4-1c1a-4b6d-b5ba-20f3cebc8f99', 1, NULL, CAST(N'2026-05-24T09:04:59.1995292' AS DateTime2), NULL, NULL, NULL, NULL, 0, N'd9c4cd13-b937-45f6-1af6-08deb8eb99be')
GO
ALTER TABLE [General].[Dictionaries]  WITH CHECK ADD  CONSTRAINT [FK_Dictionaries_Dictionaries_ParentId] FOREIGN KEY([ParentId])
REFERENCES [General].[Dictionaries] ([Id])
GO
ALTER TABLE [General].[Dictionaries] CHECK CONSTRAINT [FK_Dictionaries_Dictionaries_ParentId]
GO
ALTER TABLE [General].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Lesson_LessonId] FOREIGN KEY([LessonId])
REFERENCES [General].[Lesson] ([Id])
GO
ALTER TABLE [General].[Exam] CHECK CONSTRAINT [FK_Exam_Lesson_LessonId]
GO
ALTER TABLE [General].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [General].[Users] ([Id])
GO
ALTER TABLE [General].[Exam] CHECK CONSTRAINT [FK_Exam_Users_UserId]
GO
ALTER TABLE [General].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Dictionaries_ClassId] FOREIGN KEY([ClassId])
REFERENCES [General].[Dictionaries] ([Id])
GO
ALTER TABLE [General].[Lesson] CHECK CONSTRAINT [FK_Lesson_Dictionaries_ClassId]
GO
ALTER TABLE [General].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [General].[Users] ([Id])
GO
ALTER TABLE [General].[Lesson] CHECK CONSTRAINT [FK_Lesson_Users_UserId]
GO
ALTER TABLE [General].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Dictionaries_UserClassId] FOREIGN KEY([UserClassId])
REFERENCES [General].[Dictionaries] ([Id])
GO
ALTER TABLE [General].[Users] CHECK CONSTRAINT [FK_Users_Dictionaries_UserClassId]
GO
ALTER TABLE [General].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Dictionaries_UserTypeId] FOREIGN KEY([UserTypeId])
REFERENCES [General].[Dictionaries] ([Id])
GO
ALTER TABLE [General].[Users] CHECK CONSTRAINT [FK_Users_Dictionaries_UserTypeId]
GO
